[2018-04-19 06:27] orestesgaolin opened #26 "[Feature Request] Master-Detail View or any other layout"
Hi, first of all thanks for the great tool for creating the basic boilerplate for MvvmCross application. Works perfectly both on Windows and Mac.

I wonder whether it would be possible to add option to create basic Master-Detail view with menu drawer or any other typical layout - e.g. bottom/top tabs navigation.

[2018-04-19 20:18] Plac3hold3r commented on #26
Hi @orestesgaolin, thank you for your feedback :)

This is definitely something that I would like to add to the templates. I'm currently exploring ways to add optional additional features, like the layout options you suggested, without adding too much maintenance overhead in terms of the increase in permutation within the templates.

With the release of support for MvvmCross 6.0.0 now done. Future

[2018-04-19 20:43] Plac3hold3r commented on #26
In terms of the Visual Studio for Mac add-in, I have not created one before so I currently playing around and figuring out how it all works. So depending on how it goes I may put it on hold and push through the layout changes instead.

I have an idea for adding additional layout options. I would just need to figure out a pattern for Xamarin Forms, I'm more familiar with Xamarin native.

For adding

[2018-05-14 17:16] lukepothier opened #40 "Project template fails to create project on VS 15.7.1"
I'm not able to create a new project using the template in Visual Studio v15.7.1. After selecting the project template and entering a project name/path, Visual Studio raises an error and the project wizard doesn't appear.

The error message given by Visual Studio is:

![mvxscaffolding_1](https://user-images.githubusercontent.com/7534682/40012379-c63fcf66-57aa-11e8-9397-7507119f3fe0.png)
![mvxscaff

[2018-05-14 20:42] Plac3hold3r commented on #40
Thanks, @lukepothier can you try updating/installing version 0.10.0. It contains a workaround for the missing Newtonsoft.Json package reported by Visual Studio 2017.

[2018-05-15 16:11] lukepothier commented on #40
Yup, all good on 0.10.0 👍

[2018-05-15 18:19] #40 closed

[2018-07-17 19:17] tbalcom opened #79 "Intellisense/syntax color/etc. not functional after new project"
I've noticed Visual Studio 2017 15.7.5 needs to be restarted to get basic functionality like syntax coloring, Intellisense, etc. to work immediately after generating a new project with MvxScaffolding. Everything works fine after I restart Visual Studio 2017.

These are the steps I used to create a new project and reproduce the error:

1. Use the MvxScaffolding MvvmCross Native template
2. Have the

[2018-07-17 19:22] tbalcom opened #80 "[Android] Both AXML and XML files are being generated"
Both AXML and XML files are being generated when creating a new solution using the MvxScaffolding MvvmCross Native Template using the default settings. The AXML files are present in both the solution and the file system. The XML files are present in the solution but not the file system, so Visual Studio shows a yellow triangle next to these files. Clicking the file shows the error:

[2018-07-17 20:01] Plac3hold3r commented on #80
Hey @tbalcom , thanks for reporting this. I had looked at the code, it seems I forgot to update the csproj template keys after I made the switch to use an options drop-down approach for specifying Android layouts.

I should be able to get the fix into the next release.

[2018-07-17 20:11] Plac3hold3r commented on #79
Thanks for reporting this. I will need to see if there is something I can do via the VSIX. I know that with the dotnet templating CLI that a template can trigger a NuGet restore. However, Visual Studio ignores this and is meant to trigger its own restore. Perhaps it may not even be related to NuGet symbols failing but some other process.

[2018-07-27 21:58] Plac3hold3r commented on #80
The issue should be resolved in 0.13.0 release.

[2018-07-27 21:58] #80 closed

[2018-07-27 22:01] Plac3hold3r commented on #26
The release of v0.13.0 includes the start of adding support for additional template option. Currently MvxNative support Android and iOS Navigation menu template options.

[2018-07-27 22:01] #26 closed

[2018-08-15 08:36] Cheesebaron opened #91 "Toolbar in Native/NM/BaseActivity is not cached"
If you look at https://github.com/Plac3hold3r/MvxScaffolding/blob/master/src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Views/!Base/BaseActivity.cs#L22 calling the getter on the `Toolbar` property will be super expensive, since `FindViewById` would need to traverse the view hierarchy for every call.

Consider caching it or change the expression body to `{ get; } = FindViewById<Toolbar>

[2018-08-15 09:25] Cheesebaron opened #92 "[Feature Request] Switch to use xUnit test framework and runners"
I personally much prefer xUnit test framework and runners for mobile apps. Would be great if that was supported in the templates instead.

[2018-08-15 09:27] Cheesebaron opened #93 "[Feature Request] Tabs navigation"
Would be great to have a template for tabs navigation as an alternative to Master/Detail.

I'd love to see it working with the `BottomNavigationView` from support design packages on Android and the default tabs support on iOS.

[2018-08-15 19:08] Plac3hold3r commented on #91
Good point. I'll update the property to cache the `Toolbar`.

[2018-08-15 19:45] Plac3hold3r commented on #93
Thanks, @Cheesebaron for your feedback.

This would be a nice template scaffold option. I'll have a look into adding this.

[2018-08-15 19:50] Plac3hold3r commented on #92
I personally do not have a preference. I initial when with the default Xamarin unit testing templates.
Out of interest is there some feature of xUnit that are better suited for mobile? I know that you switch MvvmCross's unit tests over to xUnit in version 6.xx. I'll have a look into adding it as an option.

[2018-08-20 18:59] Cheesebaron opened #95 "Fragment BindingInflate ignores `container` argument"
https://github.com/Plac3hold3r/MvxScaffolding/blob/master/src/Templates/MvxNative/SingleView/src/MvxNative.Droid/Views/!Base/BaseFragment.cs#L27

https://github.com/Plac3hold3r/MvxScaffolding/blob/master/src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Views/!Base/BaseFragment.cs#L27

The call to `BindingInflate` in `BaseFragment` ignores the `container` `ViewGroup`. The issue with this

[2018-08-20 19:06] Cheesebaron commented on #91
I guess this can be closed 👍

[2018-08-20 19:06] #91 closed

[2018-08-22 10:46] FinHorsley opened #99 ""[Feature Request]" Request for a stripped back template"
Would be great to have a template that just included the bare minimums needed to create a working app :

- Remove external dependencies (currently uses FluentLayout, same goes for CodeAnalysis)
- Remove custom base classes; yes they are used but often each team has their own that have been created in-house
- Remove styling of views (including the ColourPalette class), just create the bare minimum

[2018-09-05 12:33] Cheesebaron opened #106 "Android Constraints in default views are wrong"
`fragment_main` and `fragment_settings` both use ConstraintsLayout and attempt to use them. However, the constraints are not really taking effect, because width and height are set to `wrap_content`. If it is fully constrained `0dp` should be used instead.

[2018-09-05 16:06] Plac3hold3r commented on #106
Very true. When I first tried out `ConstraintsLayout`  kept using traditional layout sizing like `wrap_content`. Thanks for point this out.

[2018-09-11 20:56] #106 closed

[2018-09-14 21:01] Plac3hold3r commented on #79
@tbalcom are you running Visual Studio with the administrative right? It seems like there are issues with the `.vs` cache folder breaking symbol loading.

[2018-09-17 14:40] tbalcom commented on #79
I wasn't running Visual Studio as admin.

[2018-10-23 15:36] AwsomeCode opened #124 "Missing WPF in Xamarin Forms."
Hi Please add WPF in Xamarin Forms.

[2018-10-30 15:58] dependabot[bot] opened #127 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/src/Templates/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.

[2018-10-30 16:09] dependabot[bot] opened #130 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/src/Templates/**/*.csproj/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app

[2018-10-30 16:32] #130 closed

[2018-10-30 16:32] dependabot[bot] opened #131 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/src/Templates/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.

[2018-10-30 17:21] #127 closed

[2018-11-28 14:30] FinHorsley opened #214 "Wrong MvxViewController sizing within Mvx native iOS project"
Created a native Mvx project using the following command (running the latest version of MvxScaffolding)

[code]

[2018-12-02 09:15] #214 closed

[2018-12-08 14:43] FinHorsley commented on #214
Were the black bars (top and bottom) the result of not having a LaunchScreen?

[2018-12-08 16:09] Plac3hold3r commented on #214
Hey @FinHorsley yip, iOS does not properly size the view controller without either launch images for each supported resolution defined or a launch screen storyboard.

See example in [Stack Overflow](https://stackoverflow.com/questions/46184859/seeing-black-bars-at-the-top-and-bottom-of-the-iphone-x-simulator/46184998).

[2019-01-08 21:43] yanxiaodi opened #251 "Missing NavigationMenu template for Xamarin.Forms"
Hi, I forked the source code and I found that it does contain a NavigationMenu template for Xamarin.Forms but it is missed in the config file. I can update the config file to show it, but actually the template is a single view project, not a NavigationMenu project.

I just completed a simple demo to implement the hamburger menu layout by MasterDetailPage for iOS, Android and UWP. If you would agre

[2019-01-09 16:34] Plac3hold3r commented on #251
Hi @yanxiaodi , that would be amazing!! A PR would be appreciated.

I wanted to add a Xamarin Forums Navigation View template, I just have not had time to investigate a good implementation pattern for it (I'm more familiar with Xamarin native development). So in the meantime, I have hidden the option from the Visual Studio extension. Which is why it does not appear in the config file currently.

[2019-01-09 19:37] yanxiaodi commented on #251
Hi, @Plac3hold3r , that's great. I'll make a PR later.

[2019-01-09 20:55] Plac3hold3r commented on #251
Thanks, @yanxiaodi . It's a convention I tend to follow where I would group ViewModels by category. While in the template there are not a lot of ViewModel so it may seem a bit overkill, I prefer to rather stick with the convention.

[2019-01-09 21:12] yanxiaodi commented on #251
Got it. Will submit a PR soon.

[2019-03-05 01:53] Programtheweb opened #336 "Folders deleted"
When I create a new project and select an existing folder, all content in that folder is removed.

E.g. Existing structure:
[code]

Create a new `MvxScaffolding MvvmCross Forms` project in VS 2017. Leave Name: and Solution name: fields as default. Change Location to D:\Source.

On 1st screen, set Solution Name as `Test`.

Click through remaining screens leaving all defaults. Application is built a

[2019-03-05 20:40] Plac3hold3r commented on #336
Thanks, @Programtheweb.

That is somewhat the expected behaviour as MvxScaffolding does a directory delete to remove the default Visual Studio generated files and folders. It should not be replacing the source folder in your example though, so I'll look into that.  Additionally, I will need to have a look and see if MvxScaffolding Visual Studio extension can be smarter around how it cleans up the

[2019-03-06 03:39] Programtheweb commented on #336
I was fortunate that the deleted folders had been recently backed up so I didn't lose anything.

I would suggest creating a sub-folder to put your stuff in and then deleting from there. I would have expected to see (from my original steps):

[code]

I would also like to add that the UI that you have developed for the add-in is **Excellent**.

[2019-03-08 23:46] jraldrin opened #342 "Build of UWP project after project create generates Xaml Internal error WMC9999"
Hi,

When I attemp to build the UWP app after creating solution I get the following error:>

C:\Program Files (x86)\Windows Kits\10\bin\10.0.17134.0\XamlCompiler\Microsoft.Windows.UI.Xaml.Common.targets(375,5): Xaml Internal Error error WMC9999: Sequence contains no elements

All I did was make the UWP project the startup and then did a build.

Thanx for any help

jra

[2019-03-09 10:39] Plac3hold3r commented on #342
Hi, @jraldrin which template where you using? Forms or native? Additionally, which scaffold type did you choose, blank, single view or navigation menu?

[2019-03-09 14:24] Plac3hold3r commented on #336
I believe I found the issue. When creating a project in Visual Studio there is a checkbox "Create directory for solution". When the checkbox is not ticked MvxScaffolding was assuming a directory one level too high, which was in your case was D drive root resulting in the deletion of "Source" directory. A fix will be in the next release.

[2019-03-09 17:34] Plac3hold3r commented on #336
@Programtheweb version 0.26.0 should resolve your reported issue.
Based on your expected output of
[code]
You will need to check "Create directory for solution", which will make sure that the `Test` directory is created. Let me know if there are any other issues.

[2019-03-09 17:39] jraldrin commented on #342
Sorry for leaving out the details.

I'm using version 0.25
I created a Forms solution with ios, android, and uwp.
I chose the blank scaffold.
Uwp min sdk was set to 1809 October 2018.
Android build and ran fine.  Haven't tried IOS.

**Compile error went away when I changed the min sdk back to default (Fall Creators Update 16299)**

Thanx

John A

[2019-03-09 17:53] jraldrin commented on #342
Looks like when I changed the min sdk version to 1809 it made the Target version less than the min version.
From the project file
  <TargetPlatformVersion>10.0.17134.0</TargetPlatformVersion>
    <TargetPlatformMinVersion>10.0.17763.0</TargetPlatformMinVersion>

Sorry to bother u, thanx for quick response.  I really like your tool.

John A

[2019-03-09 20:17] Plac3hold3r commented on #342
Thanks @jraldrin , busy looking into this now as well. I think the `TargetPlatformMinVersion` MvxScaffolding is using for the `1809 October` update is wrong. I will confirm shortly.

[2019-03-09 20:29] Plac3hold3r commented on #342
@jraldrin I can confirm, as you noted, is that the template's default target platform version is one version behind the latest. I'll update this now, and do a patch release. Thanks for logging the issue.

[2019-03-09 20:54] #342 closed

[2019-03-09 20:54] #336 closed

[2019-03-09 21:00] Plac3hold3r commented on #79
@tbalcom are you still experiencing this issue in the latest version of Visual Studio?

[2019-03-16 02:14] Programtheweb commented on #336
I've just tested the update. It's fixed.

Thank you.

[2019-03-16 12:01] Plac3hold3r commented on #336
Thank you @Programtheweb for confirming. Let me know if you come across any other issues.

[2019-03-19 14:31] tbalcom commented on #79
MvxScaffolding generates a project for me but Visual Studio crashes before I can verify if Intellisense, syntax coloring, etc is working. Is there any log file I can share, or something I can do to help understand why VS is crashing? This is happening with Visual Studio 2017 15.9.9 on Windows 10 1809.

[2019-03-19 17:57] Plac3hold3r commented on #79
You can see the issue I logged with Visual Studio [here](https://developercommunity.visualstudio.com/content/problem/484336/xamarin-project-failing-to-load-correctly-when-usi.html). It only occurs with the Android and iOS project types (i.e. Xamarin).

[2019-03-30 16:03] prom3theu5 opened #358 "Failed to start Wizard - Forms"
Exception on clicking create new project:
initialization of mahapps.metro.controls.windowcommands threw exception

VS: 15.9.9

-

Edit - Works when running VS as Admin

[2019-04-01 20:34] Plac3hold3r commented on #358
Thanks, @prom3theu5 . I'm trying to replicate this when running VS, not as Admin, but all seems fine. Could you give any more information? Is your Visual Studio installed in a non-default location? Is the location you are trying to create the project in a privileged directory?

Just to confirm this is happening when starting the wizard?

[2019-04-01 20:43] prom3theu5 commented on #358
Hi
That’s right!
After selecting new project -> Xamarin forms template, I get the error dialogue instead of the wizard
It’s on 15.9.9, previous update before current (been waiting on 2019s release tomorrow before I update on my laptop where the issue is occurring)
Windows 10:1809

VS 2017 installed in the default location. However it was originally a 2017 community install that I upgraded to enter

[2019-04-01 20:44] prom3theu5 commented on #358
Sorry, fat fingers lol. Hit close and comment instead of comment on mobile :P

[2019-04-03 18:18] Plac3hold3r commented on #358
No worries @prom3theu5 . Thanks for the additional detail.
I'll have another look over the weekend to see if I can see what is happening. Is there any more details shown than "initialization of mahapps.metro.controls.windowcommands threw exception"?

In terms of

This is an interesting issues that only occur in the Android and iOS project, UWP is fine. I have logged a ticket [here](https://develop

[2019-04-10 19:54] Plac3hold3r commented on #79
@tbalcom from my testing with the latest Visual Studi 2019. The crash issue/restart of VS and the symbol loading issue seems to be resolved. Let me know what your experience is like when you upgrade Visual Studio 2019.

[2019-05-19 12:39] Plac3hold3r commented on #79
I'm going to close this issue.
It seems to be resolved with Visual Studio 2019. Let me know if you are still experiencing this issue.

[2019-05-19 12:39] #79 closed

[2019-05-19 12:40] Plac3hold3r commented on #358
@prom3theu5 are you still experiencing this issue when using Visual Studio 2019?

[2019-05-26 23:52] LeoJHarris opened #408 "Configure your new Project, hit Create, Visual Studio closes unexpectedly"
Hi there when creating a new MvxScaffolding MVVM cross native project in VS 2019 (further details below) then visual studio closes and the project does not create the project, I had no issues with VS 2017

Microsoft Visual Studio Community 2019
Version 16.1.1
VisualStudio.16.Release/16.1.1+28922.388
Microsoft .NET Framework
Version 4.7.03190

[2019-05-27 00:15] LeoJHarris commented on #408
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/5468757/58388914-07192f80-8079-11e9-93bd-c2a5aa964231.gif)

[2019-06-01 14:40] Plac3hold3r commented on #408
Hi @LeoJHarris , I have update MvxScaffolding to version 1.2.0 which has additional error logging during startup of the wizard. Hopefully, this will allow me to see what error you are experiencing.

Another alternative that would be great is if you could clone the repo and run the VSIX project. It takes a while to build but once it's done it will open a clean experimental instance of Visual Studio

[2019-06-08 08:16] LeoJHarris commented on #408
Here's the log from the crashing.

![Capture](https://user-images.githubusercontent.com/5468757/59144311-3b520000-8a2a-11e9-9979-5b9b64e45cee.PNG)

[2019-06-08 15:18] Plac3hold3r commented on #408
@LeoJHarris thank you for testing this out again. Let me check with the `MahApps` team if they have an idea of why this occurs in your environment. As far as I can tell the top left icon control is not rendered after the window is loaded ([the line](https://github.com/MahApps/MahApps.Metro/blob/1.6.5/src/MahApps.Metro/Behaviours/BorderlessWindowBehavior.cs#L40) where the null is triggered).

[code

[2019-06-08 21:05] LeoJHarris commented on #408
Your referring to here? https://github.com/MahApps/MahApps.Metro/

https://github.com/MahApps/MahApps.Metro.IconPacks

[2019-06-09 10:11] Plac3hold3r commented on #408
@LeoJHarris  correct. I'm using MahApps to create the window frame. But it seems in your case there is an issue where the top left icon control is not loaded by the time MahApps tries to use it. One potential workaround this is to disable the resize of the window, as MvxScaffolding does not really require the user to have the ability to resize the window it should not cause any major downside. Wit

[2019-06-10 05:51] LeoJHarris commented on #408
@Plac3hold3r  i will check the zip and install and get back to you. Thanks

[2019-06-15 13:25] Plac3hold3r commented on #408
@LeoJHarris I have included this change in the latest stable release v1.2.3 as well.

[2019-06-16 01:38] LeoJHarris commented on #408
Slightly difference exception this time:

![Capture](https://user-images.githubusercontent.com/5468757/59558015-09e5bf80-903c-11e9-8cc3-6d27fa316eff.PNG)

[2019-06-16 10:16] Plac3hold3r commented on #408
Thanks @LeoJHarris . I think we are getting closer to the real issue now. From the exception message, it seems like Visual Studio has loaded the same assembly `MahApps.Metro.dll` twice. One signed and one not.

[code]

Let me see what I can find. Out of interest have you tried to uninstall and reinstall the MvxScaffolding extension?

[2019-06-16 10:26] LeoJHarris commented on #408
@Plac3hold3r Yes, but no such luck still having the same issue above.

[2019-06-16 12:49] Plac3hold3r commented on #408
I checked my local installation I only have the extension under the `AppData` directory nothing under the `program files (x86)` directory. I have reached out to Microsoft Visual Studio extension team if they have any ideas.

I'm wondering if maybe deleting the entire directory  `dfkbnxfg.30y` (`c:\program files (x86)\microsoft visual studio\2019\community\common7\ide\extensions\dfkbnxfg.30y`) will

[2019-06-16 21:17] LeoJHarris commented on #408
@Plac3hold3r I think that resolved the issue, I was able to create a MvxScaffolding project

[2019-06-16 22:07] LeoJHarris commented on #408
@Plac3hold3r as this resolved my issue I have updated my review on the market place. Thanks

[2019-06-17 09:53] Plac3hold3r commented on #408
@LeoJHarris Glad to hear it resolved your issue. I'll keep this issue open for a bit and post any info I get from the Microsoft Extensions team. They may be able to explain why there were two directories/dlls getting loaded after a Visual Studio update.

[2019-06-17 17:12] manjeetsingh02 commented on #408
@Plac3hold3r - Extension would be installed in program files - if it is installed for all users of the system - VSIXInstaller.exe [/quiet] [/admin] [/skuName:name /skuVersion:version] </uninstall:vsixID | vsix_path>
https://gist.github.com/hashhar/92baf1f90f7056f10e8a

[2019-06-19 18:43] Plac3hold3r commented on #408
Ah, that makes sense thanks @manjeetsingh02

[2019-06-19 18:43] #408 closed

[2019-06-19 18:45] Plac3hold3r commented on #358
@prom3theu5 I'm going to close this issue if you are still experiencing an issue let me know, you can also check out #408 which may have been a similar issue.

[2019-06-19 18:45] #358 closed

[2019-08-05 14:02] DevonHansen opened #482 "Rotation issue on created project"
When creating a new project using the wizard and running it with no alterations there seems to be a bug when rotating on an Android device.
You can rotate once, but when rotate back you get the following error:

System.NotSupportedException: 'Unable to activate instance of type Xamarin.Forms.Platform.Android.AppCompat.MasterDetailPageRenderer from native handle 0x79 (key_handle 0xe57b367).'

Setup

[2019-08-06 15:17] Plac3hold3r commented on #482
@DevonHansen thanks for reporting this. I can confirm I'm able to replicate this crash when running the template generate project. Strangely this does not seem to occur when running from the template source code, so I'll need to track down what is causing the issue.

[2019-08-14 12:33] DevonHansen commented on #482
I think I may have found what it could be. In MainViewModel.cs that is generated "ShowDetailPageAsyncCommand" is using MvxAsyncCommand. I've found changing this back to a synchronous command instead seems to be fine. I'll check with a clean version (as currently done this on a modified version) and report back when I can.

[2019-09-04 21:41] romeop555 opened #536 "Error updating package Microsoft.NET.Test.Sdk in project App1.UWP.Test"
Reproduce the issue:
- Add a new Forms project Navigation type with UWP in VS2017 with the name of App1
- try to update the package with the command "Install-Package Microsoft.NET.Test.Sdk -ProjectName App1.UWP.Test"

Log:
Restoring packages for C:\Users\romeo\source\repos\App1\test\App1.UWP.Test\App1.UWP.Test.csproj...
Install-Package : The system cannot find the file specified.
At line:1 char:1

[2019-09-30 15:27] ram-spurtree opened #616 "Not able to update App Icon in iOS"
Below issue i am getting while running the app
 Error: File not found: /Users/ABC/Documents/Projects/XYZ/XYZ/src/XYZ.iOS/Resources/Media.xcassets/AppIcons.appiconset/Icon-87.png (XYZ.iOS)

Can some help me to resolve this? Thanks in advance.

Thanks,
Ram

[2019-10-07 21:13] Plac3hold3r commented on #616
Hi @ram-spurtree it would seem you are missing an App Icon image at the 87px size (used for the settings icon).
Which template and scaffold type were you using when you encounter this issue?

[2019-10-07 21:43] Plac3hold3r commented on #536
Thanks @romeop555 , I believe I finally figured this out, why this is happening.

So the default Visual Studio UWP test template (which the MvxScaffolding UWP test template is base on) makes use of the reference to the `Microsoft.NET.Test.Sdk` installed with Visual Studio. You can find this reference under `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\WindowsXaml

[2019-10-07 22:03] Plac3hold3r commented on #536
I have made the change in the template as well. The next version will allow you to update via NuGet.

[2019-10-08 03:59] ram-spurtree commented on #616
@Plac3hold3r , Thanks for the reply. I fixed this issue. When I am passing the images to the AppIcon assets, the names are not replaced in XXX.iOS.csproj

[2019-10-08 03:59] #616 closed

[2019-10-08 15:05] Plac3hold3r commented on #536
Changes available in templates 1.4.0

[2019-10-08 15:05] #536 closed

[2019-10-13 14:44] ram-spurtree opened #661 "Unable to add NuGet package MvvmCross.Binding"
Hi Team,

We are trying to use **MvxImageViewLoader** in **MvxTableViewCell**. But we are not able to use this until and unless we add NuGet package MvvmCross.Binding.

But after adding MvvmCross.Binding, we are getting the below an issue

XXX.iOS/Linker/LinkerPleaseInclude.cs(29,29): Error CS0433: The type '**MvxTaskBasedBindingContext**' exists in both '**MvvmCross.Binding**, Version=5.7.0.0, Cu

[2019-10-13 18:14] Plac3hold3r commented on #661
Hi @ram-spurtree ,

This is not an issue with the MvxScaffolding templates.

That being said, it seems you are trying to install a MvvmCross 5.7.0 NuGet package `MvvmCross.Binding` into a project that is using MvvmCross 6.3.1. Note `MvvmCross.Binding` was removed as part of MvvmCross 6+. Please see MvvmCross [documentation ](https://www.mvvmcross.com/documentation/upgrading/upgrade-to-mvvmcross-60

[2019-10-13 18:14] #661 closed

[2019-10-13 18:20] ram-spurtree commented on #661
Thanks for the reply @Plac3hold3r . I am new to Xamarin, so I don't know these. I will look into this.

For integrating MvvmCross, I have wasted a week's time. After doing a bit research I found your template and integrated with in 5 Mins. Thanks a lot for your efforts.

[2019-10-17 09:27] jm-parent opened #666 "Mono.Android.Export is missing ?"
Hey !

I just downloaded the last version of MvxScaffolding.

Right after the splash screen i get this ;)

![image](https://user-images.githubusercontent.com/39386863/66996288-c45ffe80-f0d0-11e9-84a1-b940e6a4963f.png)

Just looked in MyApp.Droid references :
![image](https://user-images.githubusercontent.com/39386863/66996372-e9ed0800-f0d0-11e9-9e88-4be8253a0b6d.png)

![image](https://user-images.

[2019-10-17 12:06] jm-parent commented on #666
![image](https://user-images.githubusercontent.com/39386863/67007270-49eea900-f0e7-11e9-9c5a-e6b8d0e7d4b7.png)

.... ok ....

Well !
I tried with VS 2019 , and everything is ok.

;)

[2019-10-17 12:06] #666 closed

[2019-10-23 21:37] Julibazzi opened #672 "The application is in break mode"
When trying to run the newly created project Android application of type "Navigation Menu" the following error occurs: _"Your app has entered a break state, but there is no code to show because all threads were executing external code (typically system or framework code)."_

![Error](https://user-images.githubusercontent.com/16826201/67440721-1d93ca80-f5c8-11e9-83a9-5d37b7d93836.JPG)

**Extension:

[2019-10-24 16:26] Plac3hold3r commented on #672
Hi @Julibazzi, there should not be any additional configuration required.

Could you perhaps provide the full stack trace that you get? i.e. continue after encountering the exception and share the console output.

[2019-10-24 17:20] Julibazzi commented on #672
[ConsoleLog.txt](https://github.com/Plac3hold3r/MvxScaffolding/files/3768699/ConsoleLog.txt)

[2019-10-24 18:43] Plac3hold3r commented on #672
Out of interest are you having a similar issue with the single view Xamarin Forms and Xamarin Native templates?

[2019-10-24 18:50] #672 closed

[2019-10-24 20:05] Plac3hold3r commented on #672
@Julibazzi thanks for the update glad to hear it worked out in the end.

Thanks as well of the translations, I'll add them in the next release :)

[2019-10-28 20:12] redrabbit007 commented on #124
I agree, it would be very nice if this could also add a WPF project.

[2019-11-06 15:13] gt4dev opened #678 "exclamation mark before Base package name"
Don't use ! in Base package name in:
- Core/ViewModels
- Platform/Views

AFAIR this name is against C# packages naming convetions and mislead developers.
BTW. I've never seen such name earlier ;]

BTW. Why there is used '!' ?

[2019-11-08 10:30] Cheesebaron commented on #678
There are no namespaces prefixed with !. There are however folders that start with !, which is totally fine.

I would guess ! is used to make the folder appear at the top of the list.

[2019-11-23 10:45] lukepothier opened #685 "Android linker errors when AndroidLinkMode=Full"
The `LinkerPleaseInclude.cs` included in Android project templates lacks constructor references to certain new MvvmCross types. These references should be added to enable `AndroidLinkMode=Full` builds directly from the unchanged templates to run without risk of runtime crashes, errors, and unresponsiveness.

The missing constructor references are for the following types:

- `MvvmCross.Core.MvxSett

[2019-11-23 21:47] #685 closed

[2019-11-23 22:00] Plac3hold3r commented on #678
@gt4dev as commented by @Cheesebaron the purpose of `!` is only used for folder naming to insure the selected folders are placed toward to top.

[2019-11-25 20:31] lukepothier opened #687 "iOS linker errors when MtouchLink=Full"
The `LinkerPleaseInclude.cs` included in iOS project templates lacks constructor references to certain new MvvmCross types. These references should be added to enable `MtouchLink=Full` builds directly from the unchanged templates to run without risk of runtime crashes, errors, and unresponsiveness.

The missing constructor references are for the following types:

- `MvvmCross.Core.MvxSettings`
- `

[2019-11-25 20:41] #687 closed

[2019-12-16 15:51] Hackmodford opened #691 "Visual Studio for Mac Support"
Is it possible to have this as a plugin for Visual Studio for Mac?

[2019-12-16 15:51] Hackmodford opened #692 "Rider Support"
Is it possible to have this as a plugin for Jetbrain's Rider IDE?

[2020-01-03 12:51] Plac3hold3r commented on #678
After thinking over this pattern I have decided it better to remove it. It always felt a bit hacky but did provide some structure in larger projects where there were a lot of different base classes and inheriting types.

In the next release, the base classes will be in the folder root.

Thanks @gt4dev for raising this.

[2020-01-03 12:51] #678 closed

[2020-04-16 20:28] murphymj5209 opened #766 "Examples of MvxScaffolding with simple projects"
This is probably not the correct way to ask about this type of problem, so please let me know hot this is normally suppose to be done.
Also, I greatly appreciate this project, i think this is totally amazing what you have done
My request is for an enhancement to have examples of using MvxScaffolding using many different settings; ex IOS, Android, whatever.
I am new to Xamarin Forms and am having t

[2020-04-18 20:56] Plac3hold3r commented on #766
Hi @murphymj5209 I'm glad you are finding MvxScaffolding useful.

The purpose of this GitHub repo is for MvvmCross project templates to aid in starting a fresh project. What you are looking for is more the job of [MvvmCross-Samples](https://github.com/MvvmCross/MvvmCross-Samples) repo. While a lot of the sample projects are out of date. I would suggest having a look at the [StarWars Sample](https:

[2020-04-19 15:14] murphymj5209 commented on #766
please do not think i am negative on this project in what i am going to say; I disagree with what you have said about needing mvvmcross help, especially since with the large programming staff, i do not understand why the examples is not up-to-date.
Since i have not seen any examples of this project usage on Github, how can i be assured that this project works.  The suggested StarWars does not seem

[2020-04-19 18:05] Plac3hold3r commented on #766
The templates generated through MvxScaffolding try not to prescribe any particular MvvmCross implementation patterns. MvvmCross offers a lot of flexibility in implementation patterns and as such MvxScaffolding tries to cater for this via offering a bare-bones template option (blank template) to a more implementation heavy option in the navigation menu. MvxScaffolding purpose is to generate a basic

[2020-05-01 16:17] Weldryn commented on #92
It would be very nice to have a single .netstandard test library using xUnit.net that get used by all platform test project. Then each platform would use the xUnit.runner.device. That also would allow this project to target more platform (Tizen etc). I am currently trying to do that just now.

[2020-05-01 16:24] Weldryn opened #775 "UWP Forms Test project does not build"
### - Repro:

1. In VS 2019 Pro, scaffold a XF project with Navigation and Droid,iOS,UWP
2. Restore Nuget packages
3. Build

### - Expected result
Build completes

### - Actual result
Build fails. Compiler complains `Microsoft.VisualStudio.TestPlatform` namespace not found

[2020-05-02 11:24] Plac3hold3r commented on #775
@Weldryn thanks for reporting this.

Coded UI tests use to be the Microsofts recommended way to do UI testing for UWP. However, it does require a [Visual Studio Enterprise license](https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2019). It's a component you can install as part of Visual Studio.
![image](https://user-images.githubusercontent.com/1371673

[2020-05-02 11:48] Plac3hold3r commented on #766
Closing this issue, as at this time MvxScaffolding will not be adding more in-depth sample implementation projects.

[2020-05-02 11:48] #766 closed

[2020-05-03 22:58] Weldryn commented on #775
Great!
Thanks

[2020-06-14 23:21] Edrac opened #776 "Exception thrown when trying to run MvxScaffolding"
I just installed the plugin for vs 2019, but as soon as I try to create a project with it, I get this error. Any help would be appreciated.
![image](https://user-images.githubusercontent.com/6632972/84606436-d9617d00-ae6b-11ea-90fb-b166aa66447f.png)

[2020-06-15 10:51] Plac3hold3r commented on #776
Hi @Edrac your issue seems similar to #408. Try searching in your Visual Studio installation directory for `MvxScaffolding`. Your directory where to search may look something like

[code]
Note, if you are not on Community edition, your folder will have a different name.

If you find a match delete the folder that holds the MvxScaffolding dll.

[2020-06-17 01:39] Edrac commented on #776
Hi @Plac3hold3r, thank you for your help, I tried to find the dll usuccesfully. I also tried reinstalling visual studio and the plugin, in case another extension was getting in the way, but I still get the same error.
Visual Studio Enterprise 2019 V16.6.2
Any other suggestion you might have?

[2020-06-17 22:19] Plac3hold3r commented on #776
@Edrac I have published v1.8.0 which disables the resizing of the windows this is where the exception occurs due to not finding a UI control to check against. I believe this will not solve this issue but will rather reveal more detail to an underline issue.

[2020-06-22 02:29] Edrac commented on #776
I got the lastest version, and this is the error I'm getting now
![image](https://user-images.githubusercontent.com/6632972/85243041-48a81580-b406-11ea-828b-d935e7487662.png)

[2020-06-22 20:34] Plac3hold3r commented on #776
Thanks @Edrac the issue seems to be the same as the one reported in #408 so deleting the following folder (`elbxuxcf.gui`) should resolve the issue.

[code]

![image](https://user-images.githubusercontent.com/13716738/85331405-59c05780-b4d6-11ea-9ef6-877832d2a193.png)

Out of interest how did you install the MvxScaffolding extension? Did you download and manually install or via Visual Studio built

[2020-06-26 23:48] Edrac commented on #776
Thank you, and yes, deleting that folder did work.
About your questiosn, the first time I isntalled the extension through the extensions manager in vs, the second time, I downloaded it and installed it manually.

[2020-06-27 11:13] Plac3hold3r commented on #776
Awesome, I'm glad to hear that it's work again.

[2020-07-03 15:07] murphymj5209 opened #786 "iTunesArtwork missing"
I am on a Mac with VS 2019 doing a compile in debug or release mode but using iPhone; the iPhoneSimulator works OK and i receive the following message:

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/iOS/Xamarin.iOS.Common.targets(3,3): Error:   '/Users/MM/Documents/GitHub/MOrtho/src/MOrtho.iOS/iTunesArtwork' not found. (MOrtho.iOS)

I have changed the properties of the iTunesArtwork t

[2020-07-04 12:23] #776 closed

[2020-07-05 08:05] lukepothier commented on #786
There's an issue with the template where the `iTunesArtwork` and `iTunesArtwork@2x` files, which are image files without an extension in the filename, don't end up in exactly the correct place. Instead of being in the root iOS directory (`MOrtho.iOS` in your case) they end up nested in sub-directories.

The workaround is to move the files to the right place. In your example, you should find the fi

[2020-07-05 14:51] Plac3hold3r commented on #786
The issue should be resolved with new projects generated using release `v1.9.0+`.  For an existing project, the steps suggested by @lukepothier in moving the files back to the root directory should resolve the issue.

Due to the  `iTunesArtwork` files not having any file extensions MSBuild was duplicating the path inside the NuGet packaged version published in the VSIX. Which was why this only aff

[2020-07-06 01:15] murphymj5209 commented on #786
Thank you everyone very much for the fix.

On 7/5/2020 9:51 AM, Jonathan Froon wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2020-07-07 06:37] #786 closed

[2020-07-23 21:26] var-seven opened #791 "Can not create any project"
Visual Studio 2019 (Version 16.6.5)
.NET Framework 4.8.03752
.NET Core SDK 3.1.302

I installed the template from the marketplace and try to create a new "MvxScafolding MvvmCross Forms" project.
But if I click "Done" after setup the project, I only get the following error message

![image](https://user-images.githubusercontent.com/58722733/88340095-718c3500-cd3b-11ea-8e4f-a29296a72ecc.png)

Of cou

[2020-07-24 07:32] Plac3hold3r commented on #791
Thank @var-seven for reporting this. I'm getting the same behaviour. As there have been no changes to MvxScaffolding template creation flow, I believe the issue may be a change in the latest versions of Visual Studio. Will need to see what I can find out.

[2020-07-24 08:49] muri61 commented on #791
Unfortunately, the same goes for me as well.

Microsoft Visual Studio Professional 2019
Version 16.6.2
VisualStudio.16.Release/16.6.2+30204.135
Microsoft .NET Framework
Version 4.8.04084

[2020-07-24 08:59] gocmenali commented on #791
i'm getting same error message, i tried to check "use preview of ..." option, but nothing changed
Microsoft Visual Studio Community 2019
Version 16.6.3

[2020-07-24 09:07] Plac3hold3r commented on #791
I have reported the issue to the VS team via developer community, [link](https://developercommunity.visualstudio.com/content/problem/1124689/project-template-not-generating-in-latest-version.html).

[2020-07-26 18:16] Jose-Develaw commented on #791
Same for me with 16.6.5

[2020-07-26 18:25] Plac3hold3r commented on #791
In the meantime, while we wait for feedback from the VS team as to the changes required to support the latest VS builds, you can use the dotnet command-line tool version of MvxScaffolding. It has all the same features as the VS 2019 UI wizard version.

See docs on how to [install ](https://github.com/Plac3hold3r/MvxScaffolding#dotnet-cli) and the [commands](https://github.com/Plac3hold3r/MvxScaffo

[2020-07-27 09:33] Plac3hold3r commented on #791
Turns out it was an issue in the template, after all, a duplicate key.

[2020-07-27 09:35] #791 closed

[2020-07-27 09:46] Plac3hold3r commented on #791
Version 1.9.1 released with the fix.

[2021-01-08 09:25] alex-relov opened #905 "Failed create MvvmCross Native app"
When using vs 2009 i get an exception:
![image](https://user-images.githubusercontent.com/26199529/103997573-15b84a00-51bd-11eb-92d7-0d20a051c864.png)

[2021-01-08 15:58] Plac3hold3r commented on #905
The issue is the same as #776 with the [work around](https://github.com/Plac3hold3r/MvxScaffolding/issues/776#issuecomment-647755706) being to delete the folder in your program directory. Which in your case would be to delete `eibxuxcf.gui`

[code]

I'm not sure why this issue happens. Did this issue happen just after installing MvxScaffolding for the first time or updating it? Perhaps after a Vis

[2021-01-12 17:28] Janek91 opened #906 "Failed create Xamarin Forms project"
When I try to create Xamarin Forms project - it throws an error:
[code]

[2021-01-12 17:43] Plac3hold3r commented on #906
@Janek91 this seems to be the same issue as #776 and #905 where the assembly is getting loaded from the admin install and not the user install directory. You can delete the extension from the admin extension directory (delete `eibxuxcf.gui`)

[code]

[2021-01-17 16:06] Hackmodford commented on #692
Was reading up on how to do this.

Rider [supports templates via `dotnet new`](https://www.jetbrains.com/help/rider/Creating_and_Opening_Projects_and_Solutions.html).
Perhaps this is as simple as aadding the `.template.config`?

<img width="1167" alt="Screen Shot 2021-01-17 at 11 06 22 AM" src="https://user-images.githubusercontent.com/326668/104848659-0e2b2c00-58b4-11eb-82b6-3f0806a3c901.png">

[2021-01-18 18:33] Plac3hold3r commented on #905
@alex-relov any luck in implementing the work around?

[2021-01-18 18:34] Plac3hold3r commented on #906
@Janek91 any luck in implementing the work around?

[2021-01-18 18:36] Plac3hold3r commented on #692
@Hackmodford if I understand correctly (I have not used Rider before) the top part "Solution name:" "Project name:" is all inferred from the template options, but the other config options are not?

[2021-01-18 19:03] Hackmodford commented on #692
I'm not sure.

According to their doc, you can do something like this.

[code]
And expect to see this.
![custom_project_template](https://user-images.githubusercontent.com/326668/104954223-d8f70a80-5995-11eb-9ac5-4614676bf9f8.png)

But it doesn't seem to work in our case. So maybe they just don't support all the configuration options of dotnet new?

[2021-04-28 09:47] #905 closed

[2021-04-28 09:47] #906 closed

[2021-07-17 01:05] azhe403 opened #957 "Visual Studio 2022 support"
There now available a Visual Studio 2022 preview. What about Visual Studio 2022 support?

[2021-07-17 12:29] Plac3hold3r commented on #957
Thanks @azhe403 for your interest. I will need to confirm the latest VS preview changes as it relates to `dotnet new template` support. Which as of the initial documentation was the way they were heading.

[2021-07-27 03:03] SBLeJa opened #977 "MvvmCross 8"
Any ETA for MvvmCross 8 support?

[2021-07-27 19:29] Plac3hold3r commented on #977
Hopefully in the next few days.

I have just merged in the latest v8.0.2 dependencies in to develop branch. I just need to validate all is still working as expected.

[2021-07-31 16:05] Plac3hold3r commented on #977
@SBLeJa version 1.14.0 release with Mvx 8 support 😀

[2021-07-31 16:05] #977 closed

[2021-09-04 21:42] Hackmodford opened #994 "LinkerPleaseInclude.cs UISearchBar addition?"
Does this need to be added to the linkerPleaseInclude.cs file?

[code]

[2021-09-05 10:17] Plac3hold3r commented on #994
Hi @Hackmodford, it can be added. I have no issue with including this change. Would you like to do a PR for it?

[2021-09-06 21:09] Hackmodford commented on #994
I will create a PR. I just wanted to confirm it fixed a crash for me first. It did.

[2021-09-06 21:21] Hackmodford commented on #994
PR created

[2021-09-07 07:40] varKeytrap opened #996 "Overflow is hidden with french language"
![image](https://user-images.githubusercontent.com/17864005/132304453-fd38b3a6-89ef-402f-86f6-caa8b7f2e535.png)

[2021-09-07 17:56] Plac3hold3r commented on #994
Thanks, I will include this in the next build.

[2021-09-07 17:57] Plac3hold3r commented on #996
Thanks @varKeytrap for reporting this.

[2021-09-07 20:59] Plac3hold3r commented on #996
Confirming the fix with additional language. The next release should resolve this issue :)

![image](https://user-images.githubusercontent.com/13716738/132409817-1f18762c-d27a-4638-b088-a8e5c4c024bb.png)

[2021-09-07 21:05] varKeytrap commented on #996
Thank you !

[2021-09-07 21:05] #996 closed

[2021-10-07 16:34] pinkysek opened #1011 "UWP App does not work with Windows Application Packaging Project"
Hello, I have a problem with UWP App and Windows Application Packaging Project.

I described my problem at stackoverflow: https://stackoverflow.com/questions/69476713/windows-10-uwp-app-crash-at-start-faulting-module-name-windows-ui-xaml-dll.

In a nutshell I using UWP app which using MvvmCros and it is scaffolded with MvxScaffolding.

Sample App which reproduce my problem: https://github.com/pink

[2021-10-08 15:07] #994 closed

[2021-10-11 06:45] pinkysek commented on #1011
I found a solution here by adding UseAppLocalCoreFramework in .csproj PropertyGroups.

<UseAppLocalCoreFramework>true</UseAppLocalCoreFramework>

or adding ResolvePackageDependenciesForBuild to the end of the .wapproj (packaging project file).

<Target Name="ResolvePackageDependenciesForBuild" />

[2021-10-11 06:45] #1011 closed

[2021-11-11 22:02] VanjaPopovic opened #1036 "Migrate template to .NET 6"
Hi, as .net 6 is out, would it be possible to do some work to make the projects target the new .net 6 tfm's?

Kind regards,
Vanja

[2021-11-12 22:36] Plac3hold3r commented on #1036
Hi @VanjaPopovic , you can track MvvmCross updates for .NET 6 [here](https://github.com/MvvmCross/MvvmCross/pull/4319).